body{
    margin: 0;
    font-family: "Figtree", sans-serif;
    background-color: var(--background-blue);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 16px;
}

:root{
    --background-blue:#06171E;
    --secondary-coiir: #09212A;
}

:hover{
    transition: all 500ms ease;
}

p{
    color: #fff;
}

@font-face {
    font-family: "Figtree", sans-serif;
    src: url('./fonts/Figtree\ 2.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    flex: 1;
}

header{
    background-color: var(--secondary-coiir);
    padding: 20px 140px;
    display: flex;
}

.fotogram_logo{
    width: 215px;
    height: auto;
}

h1{
    font-size: clamp(2.875rem, 2.6964rem + 0.8929vw, 3.5rem);
    font-weight: 800;
    text-align: center;
    color: #fff;
}

#img_content{
    display: flex;
    flex-wrap: wrap;
    gap: 40px 15px;
    justify-content: center;
    padding: 0 5% 5% 5%;
}

.gallery_img{
    width: 150px;
    height: 150px;
    border-radius: 16px;
    border: 2px solid var(--secondary-coiir);
    object-fit: cover;

}  

.gallery_img:hover{
    border: 2px solid #6BC1E1;
}

.img_full-width{
    width: 560px;
    height: 375px;
    object-fit: cover;

}

.menu_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom : 25px;
}

.dev_logo{
    padding: 16px;
    display: block;
    margin: 0 auto;
}

dialog{
    background-color: #09212A;
    border: 0;
    padding: 56px 64px;
    border-radius: 40px;
    
}

dialog::backdrop{
    background-color: rgba(6, 23, 30, 0.4);
}

nav{
    display: flex;
    justify-content: center;
    gap: 0 6%;
    padding: 40px 0 0 0;
}

.arrows{
    background-color: rgba(253, 91, 79, 0.1);
    Border: 0;
    border-radius: 100%;
    height: 60px;
    width: 60px; 
 }
 
 .arrows:hover{
     background-color: rgba(253, 91, 79, 0.2);
     transform: scale(1.10);
  }

  button{
    background-color: inherit;
    border: none;
  }

footer{
    background-color: var(--secondary-coiir);
    border-radius: 100% 100% 0 0;
    text-align: center;
    color: #627B84;
    padding: 20px;
}

.close_button{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    padding: 16px;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.close_button:hover{
background-color: #124658;

}

.close_button:active{
    background-color: #0D3240;
    
    }

footer p{
color: #627B84;
 margin: 0;
 font-size: 16px;
}





 @media (max-width: 600px) {
    .img_full-width{
       max-width: 100%;
        object-fit: cover;
    }

    dialog{
   
        padding: 32px 16px;
        
    }

    header {
        justify-content: center;
    }
  }